
<html>
    <head>
        <title>Add</title>
        <link rel="icon" href="images/note.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body id="add">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <form class="form">
            <label>Title:</label>
            <input type="text" placeholder="Enter note title!" id="title"><br><br>
            <label>Body:</label>
            <input type="text" id="content" placeholder="Enter note contents!">
            <input type="submit" value="Submit!">
            <a id = "home" href="/">HOME</a>
        </form>
        <div >
                <p id="errorMessage"></p>            
            </div> 
        {{>footer}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src= "/js/client.js" >  </script>
    </body>
    

</html> 
